/* ---- footer ---- */
footer {
    background-color: black;
}

footer h6 {
    color: rgb(134, 255, 65);
}

.border-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.18);
}

footer h5 {
    transition: color 0.03s linear;
}

footer h5:hover {
    color: rgb(134, 255, 65);
}

#imgRotanteFooter {
    animation: rotazione 10s linear infinite;
    max-width: 150px;
    height: auto;
}

@keyframes rotazione {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* svg */
footer .svg-size {
    width: 20px;
    height: auto;
}

footer .svg-size-instagram {
    width: 25px;
    height: auto;
}

footer svg {
    transition: fill 0.03s linear;
}

footer svg:hover {
    fill: rgb(134, 255, 65);
}

#Dribbble-Light-Preview {
    transition: fill 0.03s linear;
}

#Dribbble-Light-Preview:hover {
    fill: rgb(134, 255, 65);
}