/* ---- header ---- */
* {
    font-family: "Montserrat", sans-serif;
}

/* text */
h4 {
    font-size: 16px;
    font-weight: 500;
}

/* icon nav */
.class-icon-nav {
    max-width: 120px;
    height: auto;
}

/* full screen */
.fullscreen-menu {
    width: 100%;
    height: 100vh;
    color: white;
    z-index: 1000;
    top: 90px;
    left: 0;
    background-image: url('/img/background/img-background-menu-1.jpg');
    background-size: cover;
    /* Scala l'immagine per coprire l'intero contenitore */
    background-position: center;
    /* Centra l'immagine all'interno del contenitore */
    background-repeat: no-repeat;
    /* Impedisce la ripetizione dell'immagine */
    transition: background-size 0.3s ease-in-out;
    /* Anima la transizione di background-size */
}


/* icon nav white */
.immagine-rotante {
    animation: rotazione 10s linear infinite;
    max-width: 80px;
    height: auto;
}

@keyframes rotazione {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* svg */
.svg-size {
    width: 20px;
    height: auto;
}