/* ---- button nav ---- */
#labelCheck {
    display: flex;
    flex-direction: column;
    width: 30px;
    cursor: pointer;
}

#labelCheck span {
    background: #fff;
    border-radius: 10px;
    height: 4px;
    margin: 2px 0;
    transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

}

#labelCheck span:nth-of-type(1) {
    width: 50%;

}

#labelCheck span:nth-of-type(2) {
    width: 90%;
}


#labelCheck span:nth-of-type(3) {
    width: 54%;

}


#labelCheck input[type="checkbox"] {
    display: none;
}


.span-checked-style-one {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(4px, 0px)
}


.span-checked-style-two {
    transform-origin: top;
    transform: rotatez(-45deg)
}


.span-checked-style-three {
    transform-origin: bottom;
    transform: translate(11px, -5px) rotatez(45deg);
}