/* ---- body ---- */
.style-svg-animation-lottie {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    /* Evita scroll orizzontale non voluto */
}

.button-active {
    --bs-btn-hover-bg: rgb(68 186 0);
    --bs-btn-hover-color: black;
    --bs-btn-active-color: black;
    --bs-btn-active-bg: rgb(68 186 0);
    --bs-btn-active-border-color: rgb(68 186 0);
    --bs-btn-disabled-border-color: rgb(68 186 0);
    --bs-btn-hover-border-color: rgb(68 186 0);
}

.button-active:hover svg {
    fill: black;
}

p {
    font-size: 1rem;
}

/* icon nav white */
.immagine-rotante-intro {
    animation: rotazione 10s linear infinite;
    max-width: 150px;
    height: auto;
}

@keyframes rotazione {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* ---- section intro ---- */
#sectionIntro {
    position: relative;
    /* Fondamentale: fa da riferimento per gli elementi posizionati assolutamente */
    width: 100%;
    /* Altezza minima: Puoi impostarla con min-height per assicurare che sia sempre grande abbastanza,
           oppure con height: 100vh; se deve occupare l'intera altezza della viewport.
           Se non metti altezza, si adatterà al contenuto del .container. */
    min-height: 700px;
    /* Esempio: altezza minima per la sezione */
    /* Oppure: height: 100vh; per tutta l'altezza della finestra */
    display: flex;
    /* Permette di allineare il contenuto del container al centro */
    align-items: center;
    /* Centra verticalmente il contenuto del container */
    justify-content: center;
    /* Centra orizzontalmente il contenuto del container */
    overflow: hidden;
    /* Nasconde qualsiasi cosa fuoriesca da questa sezione */
}

#titleIntro {
    font-size: 35px;
}

/* animation background-color title intro */
mark {
    background-image: linear-gradient(to right, transparent 0%, rgb(97, 255, 5) 100%);
    background-size: 200% 100%;
    /* Larghezza doppia per l'animazione */
    background-position: 0% 0%;
    /* Inizia a sinistra */
    color: white;
    /* Applica l'animazione */
    animation: animate 0.7s ease-in-out forwards;
    background-color: transparent;
    line-height: 2;
}

@keyframes animate {

    /* Inizia completamente a sinistra (invisibile) */
    0% {
        background-position: 0% 0%;
    }

    /* Finisce a destra (visibile) */
    100% {
        background-position: -100% 0%;
    }

}

.video-background {
    position: absolute;
    /* Si posiziona rispetto alla <section> */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Nasconde il video che "sfora" */
    overflow: hidden;
    /* Il più basso, dietro a tutto */
    z-index: -2;
}

.video-background video {
    width: 100%;
    height: 100%;
    /* Riempie il contenitore mantenendo le proporzioni, tagliando i bordi */
    object-fit: cover;
}

.color-opacity-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /*background: linear-gradient(to bottom, rgba(0, 0, 0, 0.863) 2%, rgba(0, 0, 0, 0.116) 10%, rgba(2, 255, 36, 0.5) 30%, rgba(2, 255, 36, 0.548)60%);*/
    /*background: linear-gradient(to bottom, rgba(0, 0, 0, 0.87) 2%, rgba(0, 0, 0, 0.116) 8%, rgba(2, 97, 15, 0.616) 30%, rgba(2, 97, 14, 0.863)60%);*/
    /*background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.2) 15%, rgba(2, 97, 15, 0.8) 40%, rgba(2, 97, 14, 0.95) 100%);*/
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.2) 15%, rgba(2, 80, 10, 0.9) 40%, rgba(2, 80, 9, 1) 100%);
    pointer-events: none;
}

.svg-intro {
    /* Posizionamento rispetto alla <section> */
    position: absolute;
    /* Lo ancora alla parte inferiore della <section> */
    bottom: 0;
    left: 0;
    /* Si estende per tutta la larghezza della <section> */
    width: 100%;
    /* Imposta l'altezza dell'SVG. Puoi regolarla. */
    /* Nota: viewBox="0 0 1000 200" nell'SVG significa che la curva è definita in uno spazio alto 200.
    Impostando height: 100px qui, la curva si adatterà proporzionalmente a questa altezza.
    Aggiusta se vedi che la curva è troppo schiacciata o troppo alta. 
    */
    height: 100px;
    /* Lo mette sopra tutti gli altri elementi di sfondo (video, overlay)
    e anche sopra il contenuto del .container se quest'ultimo non ha z-index.
     Se il contenuto del container si sovrappone male all'SVG, puoi giocare con questo z-index. */
    z-index: 1;

}

section .container {
    /* Necessario per assicurare che sia sopra z-index -1 e -2 */
    position: relative;
    z-index: 1;
    /* Assicura che il contenuto del container sia sempre visibile sopra i background */
}

/* style button intro */
.button-intro {
    --bs-btn-color: white;
    --bs-btn-border-color: white;
}

/* ---- section chi siamo ---- */
.img-icon {
    width: 60px;
    height: auto;
}

/* ---- section name ---- */
.doppia-curva-svg {
    /* Necessario per il posizionamento se si volesse sovrapporre altro */
    position: relative;
    text-align: center;
    /* Per centrare il div nella pagina */
}

.curva-superiore {
    display: block;
    /* Rende l'SVG un elemento di blocco per occupare la larghezza */
    width: 100%;
    /* Altezza della curvatura superiore */
    height: 100%;
    max-height: 200px;
    /* Sovrappone leggermente per evitare spazi indesiderati */
    margin-bottom: -1px;
}

.contenuto {
    background-color: #2acff2;
    /* Colore di sfondo del contenuto */
    padding: 20px;
    /* Spazio interno per il testo */
    position: relative;
    /* Per gestire lo z-index se necessario */
    z-index: 1;
    /* Assicura che il contenuto sia sopra le curve se si sovrappongono */
}

.curva-inferiore {
    display: block;
    /* Rende l'SVG un elemento di blocco */
    width: 100%;
    /* Altezza della curvatura inferiore */
    height: 100%;
    max-height: 200px;
    /* Sovrappone leggermente */
    margin-top: -1px;
}

.container-name {
    width: 100%;
    height: auto;
    max-height: 500px;
    min-height: 100px;
    background-color: rgb(68 186 0);
    white-space: nowrap;
    overflow: hidden;
}

.titolo {
    position: relative;
    /* Inizia il titolo fuori dallo schermo a destra */
    left: 100%;
    font-size: 7.3vw;
    color: white;
}

/* ---- section service ---- */
#boxService swiper-container {
    width: 100%;
    height: 100%;
}

#boxService swiper-slide {
    text-align: center;
    font-size: 18px;
    color: black;
    background: #fff;
    width: 100%;
    height: 100%;
    max-width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;

}

#boxService swiper-slide img {
    display: block;
    width: 100%;
    max-width: 450px;
    height: auto;
    object-fit: cover;
    opacity: 0.0;
}

#boxService .card {
    transition: box-shadow 0.2s ease-in-out;
}

#boxService .card {
    height: 100%;
    min-height: 300px;
}

#boxService .card:hover {
    /* Ombra al passaggio del mouse: azzurra */
    box-shadow: 0 0 25px 8px rgba(0, 255, 55, 0.363);
    /* Azzurro chiaro e più intenso */
}

#boxService .card:hover .card-img {
    opacity: 0.2;
    /* Rende l'immagine opaca al passaggio del mouse */
    transition: opacity 0.10s linear;
    /* Transizione per l'opacità dell'immagine */
}

#boxService .card:hover {
    /*background-color: rgba(135, 255, 65, 0.733);*/
    background-color: rgb(68 186 0);
    /* Sfondo verde opaco al passaggio del mouse */
}

#boxService .card-img-overlay {
    transition: color 0.2s ease-in-out;
}

#boxService .card:hover .card-img-overlay {
    color: white;
}

#boxService .card:hover svg {
    fill: white;
    transition: fill 0.2s ease-in-out;
}

#cursor-custom {
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: rgb(43, 117, 0);
    border-radius: 50%;
    transform-origin: 50% 50%;
    transform: translate(-50%, -50%);
    will-change: width, height, transform, border;
    z-index: 99999;
    pointer-events: none;
}

/* ---- section testimonial ---- */
#boxTestimonial swiper-container {
    margin: 100px auto;
    width: 100%;
    max-width: 800px;
    height: 100%;
}

#boxTestimonial swiper-slide {
    width: 100%;
    max-width: 800px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: black
}

#boxTestimonial .stars {
    position: relative;
    white-space: nowrap;
}

#boxTestimonial svg {
    width: 20px;
    fill: gold;
}

/* ---- section contact ---- */
.form-control-new {
    border: none;
    border-bottom: 2px solid #e0e0e0;
    border-radius: 0;
    background-color: rgba(135, 255, 65, 0.349);
}

.button-submit {
    background-color: rgb(68 186 0);
    color: black;
}

/* ---- section faq ---- */
.accordion-button-custom {
    --bs-accordion-active-bg: rgb(68 186 0);
    --bs-accordion-active-color: black;
}

.accordion-new {
    --bs-accordion-border-width: none;
    --bs-accordion-btn-focus-box-shadow: none;
}

/* ---- section partner ---- */
#sectionPartner {
    position: relative;
    /* Fondamentale: fa da riferimento per gli elementi posizionati assolutamente */
    display: flex;
    /* Permette di allineare il contenuto del container al centro */
    align-items: center;
    /* Centra verticalmente il contenuto del container */
    justify-content: center;
    /* Centra orizzontalmente il contenuto del container */
    overflow: hidden;
    /* Nasconde qualsiasi cosa fuoriesca da questa sezione */
}

#sectionPartner .background-image {
    position: absolute;
    /* Si posiziona rispetto alla <section> */
    width: 100%;
    height: 100%;
    /* Nasconde il video che "sfora" */
    overflow: hidden;
    /* Il più basso, dietro a tutto */
    z-index: -2;
}

#sectionPartner .background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Mantiene proporzioni senza tagliare */
    object-position: center;
}

#sectionPartner .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(6, 228, 6, 0.459), rgba(0, 0, 0, 0.9));
    z-index: -1;
}