/* ---- body ---- */
.style-svg-animation-lottie {
    width: 100%;
    height: auto;
}

/* ---- section intro ---- */
/* icon nav white */
.immagine-rotante-intro {
    animation: rotazione 10s linear infinite;
    max-width: 200px;
    height: auto;
}

@keyframes rotazione {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* style h1 intro */
#titleIntro {
    font-size: 35px;
    max-width: 480px;
}

/* animation background-color title intro */
mark {
    background-image: linear-gradient(to right, transparent 0%, #2acff2 100%);
    background-size: 200% 100%;
    /* Larghezza doppia per l'animazione */
    background-position: 0% 0%;
    /* Inizia a sinistra */
    color: white;
    /* Applica l'animazione */
    animation: animate 0.7s ease-in-out forwards;
    background-color: transparent;
    line-height: 2;
}

@keyframes animate {

    /* Inizia completamente a sinistra (invisibile) */
    0% {
        background-position: 0% 0%;
    }

    /* Finisce a destra (visibile) */
    100% {
        background-position: -100% 0%;
    }

}

/* style video background */
.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    opacity: 0.5;
}

/* style color opacity background */
.color-opacity-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.863) 5%, rgba(0, 0, 0, 0.2) 30%, rgb(7 88 181 / 75%));
    pointer-events: none;
}

/* style button intro */
.button-intro {
    --bs-btn-color: white;
    --bs-btn-border-color: white;
}

/* ---- section chi siamo ---- */
.img-icon {
    width: 60px;
    height: auto;
}

/* ---- section name ---- */
.doppia-curva-svg {
    /* Necessario per il posizionamento se si volesse sovrapporre altro */
    position: relative;
    text-align: center;
    /* Per centrare il div nella pagina */
}

.curva-superiore {
    display: block;
    /* Rende l'SVG un elemento di blocco per occupare la larghezza */
    width: 100%;
    /* Altezza della curvatura superiore */
    height: 100%;
    max-height: 200px;
    /* Sovrappone leggermente per evitare spazi indesiderati */
    margin-bottom: -1px;
}

.contenuto {
    background-color: #2acff2;
    /* Colore di sfondo del contenuto */
    padding: 20px;
    /* Spazio interno per il testo */
    position: relative;
    /* Per gestire lo z-index se necessario */
    z-index: 1;
    /* Assicura che il contenuto sia sopra le curve se si sovrappongono */
}

.curva-inferiore {
    display: block;
    /* Rende l'SVG un elemento di blocco */
    width: 100%;
    /* Altezza della curvatura inferiore */
    height: 100%;
    max-height: 200px;
    /* Sovrappone leggermente */
    margin-top: -1px;
}

.container-name {
    width: 100%;
    height: auto;
    max-height: 500px;
    min-height: 100px;
    background-color: #2acff2;
    white-space: nowrap;
    overflow: hidden;
}

.titolo {
    position: relative;
    /* Inizia il titolo fuori dallo schermo a destra */
    left: 100%;
    font-size: 8.5vw;
    color: white;
}